{% extends 'base_template.html' %}

{% block title %}
    Choose your quests!
{% endblock title %}

{% block content %}

    <body>

          <div style="margin-left: 40px">
                <h2> Let's Choose our Tasks!  </h2></div>


                <div id="travel_list" style="margin-left: 00px">


                        <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="add tasks">

                        </form>


                </div>



                           </div>

    </body>

{% endblock content %}